<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% if current_user %>
  <%= render 'shared/stats' %>

  <%= render 'shared/jot_actions', locals: {jot: @jot} %>

  <% if current_user.low_following_count? %>
    <%= User.most_popular.each do |user|%>
        <br>
        <%= user.first_name %>
        <br>
        <%= user.last_name%>
        <br>
        <%= button_to("Follow", (current_user.follow(user))) %>
        <% end %>
      <% else %>
        <%= User.most_popular.each do |user|%>
          <%= user.jots.each do |jot|%>
          <%= jot.title %>
          <%= jot.body %>
          <% end %>
    <% end %>
  <% end %>
<% end %>
    
    
