<%= form_for [user, jot]  do |f| %>
<% if jot.errors.any? %>
    <% jot.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <br>
  <br>
  Start Jotting
  <br>
  <br>
  Title<%= f.text_field :title %>
  <br>
  <br>
  <%= hidden_field_tag '[jot][user_id]', current_user.id %>
  Jot
  <br>
  <%= f.text_area :body, size: "60x12" %>
    <%= f.submit %>
<% end %>